// COLORS
$body-bg: white;
$bar-bg: #020203;
$dropdown-bg: hsl(0, 0%, 96%);
$main-color: #ff0101;
$text-title-color: white;
$text-color: #000000;

// WIDTH
$mobile-width: 600px;
$tablet-width: 1024px;
$desktop-width: 1240px;

// MARGIN
$large-margin: 100px;
$medium-margin: 60px;
$small-margin: 20px;

// TEXT-SIZE
$navbar-text-size: px;
$mobile-text-size: 12px;
$desktop-text-size: 24px;

// BORDER RADIUS
$border-radius: 10px;

//FONT-FAMILY
$font-family: 'Roboto', sans-serif;
