// COLORS
$body-bg: white;
$box-bg: #f7f7f7;
$dropdown-bg: #f6f6f6;
$main-color: #ff6060;
$text-title-color: white;

// WIDTH
$mobile-width: 600px;
$tablet-width: 1024px;
$desktop-width: 1240px;

// MARGIN
$large-margin: 100px;
$medium-margin: 60px;
$small-margin: 20px;

// TEXT-SIZE
$mobile-text-size: 12px;
$desktop-text-size: 24px;

// BORDER RADIUS
$border-radius: 10px;

//FONT-FAMILY
$font-family: 'Montserrat', sans-serif;
