@use '../../sass/' as *;

.dashboard {
  @include flex(flex-start, flex-start);
  flex-wrap: wrap;
  flex-direction: row;
  align-content: baseline;
  border: solid purple;
  margin-top: 91px;
  width: 100%;
  padding: 70px;
  color: black;

  &__header {
    @include flex(flex-start, flex-start);
    flex-direction: column;
    width: 100%;

    border: solid blue;
    &__title {
      font-weight: 500;
      font-size: 48px;

      @include flex(center, flex-start);
      &__userName {
        color: red;
        margin: 0 10px;
      }
    }
    &__subtitle {
      font-size: 18px;
      margin-top: 40px;
    }
  }
  &__chartContainer {
    width: 70%;
    border: solid purple;
    flex-direction: row;
    @include flex(center, space-around);
    flex-wrap: wrap;
  }
  &__nutrituionContainer {
    @include flex(flex-start, space-between);
    flex-direction: column;
    border: solid red;
    width: 20%;
    height: 100%;
  }
}
