@use '../../sass/' as *;

.dailyActivity {
  background-color: #fbfbfb;
  padding: 30px;
  margin-bottom: 30px;
  width: 100%;
  &__title {
    @include flex(center, space-evenly);
    justify-content: space-between;
    margin: 10px 30px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      width: 280px;
    }

    h2 {
      font-size: 15px;
      color: black;
    }
    span {
      font-size: 14px;
      color: #74798c;
    }
  }
  .tooltip {
    font-size: 12px;
    background-color: #e60000;
    color: white;
    height: 82px;
    width: 63px;
    flex-direction: column;
    @include flex(center, space-evenly);
  }
}
