@use '../../sass/' as *;

.navbar {
  width: -webkit-fill-available;
  position: absolute;
  height: 91px;
  max-width: 100%;
  background-color: $bar-bg;
  color: $main-color;
  padding: 18px 28px 12px 28px;
  @include flex(center, space-between);
  img {
    height: 61px;
  }
  @include mobile {
    img {
      height: 47px;
    }
  }
  a {
    text-decoration: none;
  }
  a:visited {
    color: $main-color;
    text-decoration: underline;
  }

  &__list {
    width: 70%;
    list-style: none;
    color: white;
    font-size: $navbar-text-size;
    @include mobile {
      margin-left: 0;
    }
    @include flex(center, space-evenly);
    li {
      margin: 10px;
    }
  }
}
