@use '../../sass/' as *;

.sidebar {
  z-index: -10;
  border: salmon solid;
  background-color: $bar-bg;
  width: 117px;
  @include flex(center, space-evenly);
  flex-direction: column;
  &__container {
    min-height: 316px;
    @include flex(center, space-evenly);
    flex-direction: column;
  }
}
